<!--%= content_for :head do %-->
    <title>About Us</title>
<!--% end %>

<!--%= content_for :intro do %-->
    <h1>About Us</h1>
    <h2>This is our story</h2>
<!--% end %-->
<p>Texto del about us</p>
