<!--%= content_for :head do %-->
    <title>Out Services</title>
<!--% end %>

<!--%= content_for :intro do %-->
    <h1>Out Services</h1>
    <h2>We have a Solutions for You</h2>
<!--% end %-->
<p>Texto del services</p>
